.chat-header-buttons{
	padding:20px !important;
	line-height:0px !important;
	border-radius:50% !important;
}

.chat-header-buttons label{
	margin:0px;
	cursor:pointer;
}

.chat-header-buttons:focus{
	outline:none !important;
}
.chat-header-right-content{
	display:flex;
	align-items:center;
}

.profile_change{
	display:none;
}

.chat-header-buttons i {
	color:white;
}